<mat-card class="card mat-elevation-z8">
  <mat-card-header>
    <mat-card-title>Line System</mat-card-title>
    <mat-card-subtitle>Sistema de ordem de serviço</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="assets/img/home-image.svg" alt="Help Desk Angular">
  <mat-card-content>
    <mat-card-subtitle>
      Olá! Seja bem vindo ao sistema de ordem de serviço Line System, desenvolvido para gerenciar e controlar os serviços prestados por empresas.<br> O principal objetivo é tornar o serviço prestado pela empresa ao cliente, mais transparente possível.
    </mat-card-subtitle>
  </mat-card-content>
</mat-card>