/* You can add global styles to this file, and also import other style files */
html, body { height: 100%; }
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  --azul-pricipal: linear-gradient(0deg, rgb(14 23 74) 0%, rgb(0 176 255) 100%);
}